
html, body {
	width: 99%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.minimap {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.griddy{
	padding: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	background: #000;
	/*border: .2em solid #91a7ff;*/
}

li {
	list-style-type: none;
	background: #000;
	box-sizing: border-box;
	border: solid lightgreen 1px;
}

.playerOnMap{
	position: absolute;
}

.enemy{
	position: absolute;
}

#player{
	position: absolute;
	left: 50%;
	bottom: 5%;
}

#life6{
	position: absolute;
	bottom: 90%;
	left: 47%;
}

#cross{
	position: relative;
}

#enemy_asteroid{
	position: relative;
}

#background{
	position: relative;
	background: url(Assets/bg.jpg);
}

#screen{
	position: absolute;
	height: 100%;
	width: 100%;
}
